body{
	margin:0;
	width: 100%;
  font-family: Verdana, Geneva, sans-serif;
}
.container-fluid{
  margin-top: 5px;
	max-width: 1300px;
  background-color: #fff;
}

header{
  margin-top: 0;
  padding-top: 2%;
  padding-bottom: 2%; 
  background-color: #FAFAFA;
}

#line{
  width: 95%;
  margin: auto;
  border-bottom: 2px solid #D8D8D8; 
}

#logo_upla{
  margin-top: 1%;
  width: 50%;
  float:right;
}

.panel-heading{
  font-weight: bold;
  border-top-left-radius: 0;
  border-top-right-radius: 0; 
}
.panel-group{
	width:100%;
  margin-top: 20px;
}

.panel {
  border: 0;
  border-radius: 0;
}

.panel-pub{
  background-color: #fff;
}

.panel-info > .panel-heading { 
  color: #fff;
  background-color: #002333;
}


.panel-personal > .panel-heading { 
  color: #fff;
  background-color: #002332;
}


.panel-consulta > .panel-heading { 
  color: #fff;
  background-color: #848484;
}

.panel-pub > .panel-heading { 
  color: #fff;
  background-color: #004462;
}

.panel-proy > .panel-heading {
  color: #fff;
  background-color: #0088B4;
}

.panel-con > .panel-heading {
  color: #fff;
  background-color: #2D2D2D;
}

.sub-panel > .panel-title, .panel-body{
  font-weight: normal;
}
.panel-pub > .sub-panel{
  background-color: #668EA0;
}

.panel-con > .sub-panel{
  background-color: #818181;
}

.panel-proy > .sub-panel{
  background-color: #66B7D2;
}

.panel-group > .panel-group > .panel-con, .panel-group > .panel-pub, .panel-group > .panel-proy ,  .panel-group >.panel-consulta,  .panel-group > .panel-personal,  .panel-group >.panel-con{
  padding-top: 5px;
}

.panel-body{
  background-color: #EEEEEE;
  margin-left: 5px;
  font-size: 15px;
  font-weight: normal;
}


#panel-element-1,#panel-element-2,#panel-element-3,#panel-element-4{
  margin-left: 5px;
}

.panel-group .panel+.panel {
  margin-top: 0;
  border-radius: 0;
}

a,a:link,a:active,a:hover,a:visited{  
  text-decoration: none;
  color: #fff;
}

a#logo_net,a#logo_net:link,a#logo_net:hover,a#logo_net:visited{  
  text-decoration: none;
  color: #F2F2F2;
}


a.panel-link-pub,a.panel-link-con, a.panel-link-proy{
  color: #6E6E6E;
}

a#titulo{
  color: #009EE0;
  width: 100%;
}

footer{
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #000;
  color: #F2F2F2;
  height: 60px;
  width: 100%;
}

#powered{
  position: relative;
  float:right;
  width: 170px;  
}

#networks{
  float: right;
  width: 60px;
  height: 51px;
  background-image: url('/proyecto_upla/img/networks.png'); 
  background-repeat: no-repeat; 
}

#contenido{
  height: 500px;
  width: 1000px;
}

#barra{
  margin-top: 26px;
  margin-left: 15px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.barra-seccion{
  width: auto;
  height: 100%;
  padding: 10px 15px; 
  float: left;
}

.tri{
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 10px solid;
  border-bottom: 20px solid transparent;
  float: left;
}

.tri-nav{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 40px 0;
  float: left;
}

#tri-nav-pub{
  border-color: transparent #668EA0 transparent transparent;
  margin-left: -5px;
}

#tri-nav-proy{
  border-color: transparent #66B7D2 transparent transparent;
  margin-left: -5px;
}

#tri-nav-con{
  border-color: transparent #818181 transparent transparent;
  margin-left: -5px;
}

#tri-nav-sub{
  border-color: transparent #EEEEEE transparent transparent;
}

.field{
  margin-top: 20px;
}

.img-index{
  float: left;
  margin: 5px;
  width: 30%;
  margin-left: 10%;  
  margin-top: 2%;
}

.row div {
  margin-top: 0px;
}

#catalogo{
  float:left;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  font-size: 48px;
}

#panel-1{
  margin-top: 25px;
}

.glyphicon-info-sign{
  float: right;
}

.smaller{
  font-size: 25px;
}

#info-text{
  text-align: justify;
  width: 75%;
  margin: auto;
  font-size: 20px;  
}