body{
	text-align:center;
}

.container{
	max-width: 978px !important;
}

.input-group{
	width: 50%;
	margin: auto;
}

.btn-link{
	border-radius:0;
	color: #1C1C1C;
}

.btn-link:focus, .btn:focus, .btn-link:hover, .btn:hover, .btn-link:active, .btn:active{
	text-decoration: none;
 outline: 0 none;
	box-shadow: none;
}

.box{
	padding-top: 10%;
}

