

.navbar{
	background-color:#FFF;
	height:50px;
	border-bottom:2px solid #222222;
}
	
	.nav.navbar-nav li a{
		color:#1775A9;
		font-weight:bold;
	}
	
	.nav.navbar-nav li a:hover{
		color:#1775A9;
		text-decoration:underline;
	}
	
	
	#img-usm{
		padding-left:40px;
		padding-top:5px;
	}

		.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
			background-color:#222222 !important;
		}

#title{
	height:160px;
	background-image: url('../../img/ficha.png');
	background-repeat: no-repeat;
	background-position: right 0px top;
	margin-top:50px;
	padding: 30px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#222222;
	color:#FFF;
	margin-bottom:30px;

}
	
	#title div{
		left:0;
		right:0;
		margin:auto;
		width:1030px;
	}
	
		#title div p{
			font-size:12px;
		}
	
		#title div h1, #title div p{
			margin-bottom:0px;
		}

.btn-toolbar{
		width:900px;
		left:0;
		right:0;
		margin:auto;
		
	}

#main{
	width:1000px;
	left:0;
	right:0;
	margin:auto;
}

.node rect {
	  cursor: pointer;
	  fill: #fff;
	  fill-opacity: .5;
	  stroke: #666;
	  stroke-width: 1.5px;
	}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #bbb;
  stroke-width: 1.5px;
}

#network_extra{
	float:right;
}

#logout{
	float:right;
	color:#7F0000;
	font-size:12px;
	margin-top:18px;
}

#logout a{
	color:#000;
}
