/*body {
	font: 9px sans-serif;
	margin: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}*/

.navbar{
	background-color:#FFF;
	height:50px;
	border-bottom:2px solid #222222;
}
	
	.nav.navbar-nav li a{
		color:#1775A9;
		font-weight:bold;
	}
	
	.nav.navbar-nav li a:hover{
		color:#1775A9;
		text-decoration:underline;
	}
	
	
	#img-usm{
		padding-left:40px;
		padding-top:5px;
	}

		.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
			background-color:#222222 !important;
		}

#title{
	height:160px;
	background-image: url('../img/datos.png');
	background-repeat: no-repeat;
	background-position: right 0px top;
	margin-top:50px;
	padding: 30px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#222222;
	color:#FFF;
	margin-bottom:30px;

}
	
	#title div{
		left:0;
		right:0;
		margin:auto;
		width:1030px;
	}
		
		#title div p{
			font-size:11px;
		}
		
		#title div h1, #title div p{
			margin-bottom:0px;
		}

#main{
	font: 9px sans-serif;
}
	
	.btn-toolbar{
		width:1000px;
		left:0;
		right:0;
		margin:auto;
		margin-bottom:25px;
		
	}

	
.cabecera_if{
	width: 100%;
	height: 95px;
	min-width:1360px;
	background-color: rgba(246,246,246,1);
	box-shadow: 2px 2px 5px #999;
}
.titulo{
	margin-top: 20px;  
	font-size: 22px;
	color: #666;
	font-weight: bold;
	float: left;
	max-width: 400px;
	text-align: center;
	margin-left:150px;
}
.titulo-desc{
    margin-top: 10px;	
    margin-left: 50px;
    margin-right:50px;
    font-size: 10px;
    color: #666;
    font-weight: normal;
    float: left;
    max-width: 100px;
}
.cell#middle{
	width:10px;
}
.cell#celltitle{
	width:70px;
	color:#333;
}

.tit-info{
	font-size: 14px;
	font-weight: bold;
	float: left;
	color: #666;
	clear: both;
	width: 500px;
	margin-right: 50px;
}
#example{
	position:absolute;
	top:575px;

}

#exampleimg{
	opacity:0.6;
	width:230px;
}

#legtitle{
	text-align:left;
	font-weight:bold;
	font-size:14px;
	margin-left:6px;
	padding-top:10px;
}
#container{
	display:table;
	left:0;
	right:0;
	margin: auto;
	text-align:auto;
	min-width: 1360px;
}
.table{
	display:table;
	float:left;
}

.cell{
	display:table-cell;
}
.row{
	display:table-row;
}

.linechart, .piechart, .barchart{
	display:table-cell;
	padding:0 !important;
}
.piechart{
	height:300px;
}

#piecontcell{
	vertical-align:middle;
}

#date{
	left:0;
	right:0;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:500px;
}
#RangoFecha{
	font-size: 15px;
	font-weight:bold;
	margin-left: 0px;
	text-align:center;
}
#date-range{
	width: 84px;
	border: 0;
	color: #1066ac;
	font-weight: bold;
}
#slider{
	margin-top: 5px;
	width: 500px;
}
#selector{
	float: left;
	margin-top:15px;	
}

#fuente{
	width:1150px;
	margin:auto;
	margin-top: 20px;
	text-align:right;
}

input{
	cursor: pointer;
}
#region,#instrumento,#disciplina{
	display:none;
}

#reset{
	float:left;
	margin-left:25px;
	margin-top:10px;
}

#ayuda{
	position:absolute;
	top:540px;
	left:350px;
}

#cont1{
	width: 100%;
	height: 530px;
	margin-left: 10px
}
#cont2{
	float:left;
	width: 480px;
	height: 530px;
	margin-top: 10px;
}
.titulos{
  font-size:17px;
  font-weight:bold;
}
#linetitle,#bartitle,#pietitle,#chiletitle{
	text-align:center;
}

#barchart{
	width: 700px;
}

#piechart{
	text-align:center;
	float:left;
	width:300px;
}

#linechart{

}
#chile{
	display:table-cell;	

}

/* Bar Chart Style */
.bar text.value {
	fill: white;
}

.axis {
	shape-rendering: crispEdges;
}

.axis path {
	fill: none;
}

.x.axis line {
	stroke: #fff;
	stroke-opacity: .8;
}

.y.axis path {
	stroke: black;
}

/* Pie Chart */
.arc path {
	stroke: #fff;
}
/*Descripción Grafico Torta */
#contenedorDescr {
	margin-top: 10px;	
    border-radius:3px; 
    -moz-border-radius:3px; /* Firefox */ 
    -webkit-border-radius:3px; /* Safari y Chrome */ 
    
    /* Otros estilos */ 
    /*border:1px solid #333;*/

    font-size: 12px;
    float:left;
    margin:auto;
    vertical-align:middle;
}
.DescrVar{
    width: 20px;
    height: 15px;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
    border-radius:3px; 
    -moz-border-radius:3px; /* Firefox */ 
    -webkit-border-radius:3px; /* Safari y Chrome */     
}
#piecontent{
	text-align:center !important;
	left:0;
	right:0;
	margin:auto;
}

.var{
	clear:both;
	
}

#var1{background: #00FFFF;}
#var2{background: #FFFF00;}
#var3{background: #5C3317;}
#var4{background: #A68064;}
#var5{background: #00009C;}
#var6{background: #EBC79E;}
#var7{background: #CFB53B;}
#var8{background: #FF7F00;}
#var9{background: #FF2400;}
#var10{background: #DB70DB;}
#var11{background: #00FF7F;}
#var12{background: #236B8E;}
#var13{background: #38B0DE;}
#var14{background: #DB9370;}
#var15{background: #D8D8BF;}
#var16{background: #FF0000;}
#var17{background: #238E23;}
#var18{background: #0000FF;}
#var19{background: #FF00FF;}

#contenedorDescr span{
    float: left;
    margin-left: 3px;
    margin-top: 2px;
}

/* Line Chart */
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}
/*Pais*/
circle{
	cursor: pointer;
}

.info{
    width: 15px;
}

.reset{
	height: 30px;
	margin-top: 20px;
}

/*ToolTip*/
.tooltipInfo {
	display: inline;
	position: relative;
	text-decoration:none; 
	z-index:99999;
}
.tooltipInfo:hover:after {
	content: attr(rel); /* este es el texto que será mostrado */
	white-space:pre-line;
	position: absolute;
	/* el formato gráfico */
	background: #3E3E3E;/*rgba(0,65,121,0.9); el color de fondo */
	border-radius: 5px;
	color: #FFF; /* el color del texto */
	font-size:13px;
	font-weight:normal;
	text-align: justify; 
	padding: 15px 15px;  
	text-shadow: 1px 1px 1px #000;
	min-width: 320px;
	margin-left: -80px;
	border: 1px solid #3E3E3E;
	box-shadow: 4px 4px 5px #999;
	-webkit-box-shadow: 4px 4px 5px #999;
	-moz-box-shadow: 4px 4px 5px #999;
	z-index:9999999999;
}
.tooltipInfo:hover:before {
	z-index:9999999999;
	bottom: -10px;
	content: "";
	color:#3E3E3E;
	left: 50%;
	position: absolute;
	/* el triángulo inferior */
	border: solid;
	border-color: #3E3E3E transparent;
	border-width: 0 10px 10px 10px;
	margin-left: -10px;
	clear: both;
}
#tooltipRegiones:hover:after{
	margin-left: -230px;
}
#ayuda1:hover:after{
	width: 350px;
	bottom: -90px;
}
#ayuda2:hover:after{
	width: 350px;
	bottom:-138px;	
	left: -250px;
}
#ayuda3:hover:after{
	width: 350px;
	bottom:-105px;	
	left: -250px;	
}
#ayuda4:hover:after{
	width: 350px;
	margin-left: -160px;
	bottom:25px;
	box-shadow: -4px -4px 5px #999;
	-webkit-box-shadow: -4px -4px 5px #999;
	-moz-box-shadow: -4px -4px 5px #999;  
}
#ayuda5:hover:after{
	width: 350px;
	margin-left: -190px;
	bottom:25px;
	left:200px

}
#ayuda5:hover:before{
	border-width: 0 0 0 0;
	bottom: 15px;
}

#ayuda4:hover:before{
	border-width: 12px 12px 0 12px;
	bottom: 15px;
}
#main {
	left:0;
	right:0;
	margin:auto;
	width: 1130px;
}

#sidebar-legend {
	display: table-cell;
	width: 190px !important;
	vertical-align:top;
}
#sidebar-rank {
	display: table-cell;
	width: 280px !important;
	vertical-align:top;
	text-align:left;
}
#sequence {
	width: 900px;
	height: 70px;
	left:0;
	right:0;
	margin:auto;
}

#legend {
	width:190px !important;
	margin-right:0 !important;
	
}

#sequence text, #legend text {
	font-weight: 600;
	fill: #fff;
}
#journal{
	left:0;
	right:0;
	text-align:center;
}
#chartContainer{
	display:table;
	height:600px;
	width:1130px;
}
#row{
	display:table-row;
}
#chart {
/*
	display:table-cell;
*/
	position: relative;
	width:600px !important;
	margin-right:30px;
	margin-left:30px;
}

#chart path {
	stroke: #fff;
}

#explanation {
	position: absolute;
	top: 240px;
	left: 230px;
	width: 140px;
	text-align: center;
	color: #666;
	z-index: -1;
}
#explanation2 {
	position: absolute;
	top: 320px;
	left: 230px;
	width: 140px;
	text-align: center;
	color: #666;
	z-index: -1;
}
#percentage,#percentage2 {
	font-size: 2.5em;
}
/*#list {
	font-size: 11px;
	text-align: left;
}*/
#ano{
	text-align:left;
	font-size:14px;
	margin-left:5px;
}
#network_extra{
	float:right;
}

#logout{
	float:right;
	color:#7F0000;
	font-size:12px;
	margin-top:18px;
}

#logout a{
	color:#000;
}
