/* Principal CSS */
html, body{

  
}
body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;

}

#main{
	position:relative;
	width:1000px;
	left:0;
	right:0;
	margin:auto;
}

#node_search{
	left:0;
	right:0;
	width:500px;
	margin:auto;
	text-align:center;
}

#node_search img{
	width:20px;
	float:right;
}

.navbar{
	background-color:#FFF !important;
	height:50px;
	border-bottom:2px solid #222222;
}
	
	.nav.navbar-nav li a{
		color:#1775A9 !important;
		font-weight:bold;
	}
	
	.nav.navbar-nav li a:hover{ 
		color:#1775A9 !important;
		text-decoration:underline !important;
	}
	
	
	#img-usm{
		padding-left:40px;
		padding-top:5px;
	}

		.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
			background-color:#222222 !important;
			color:#FFF !important;
		}

#title{
	height:160px;
	background-image: url('../../img/ficha.png');
	background-repeat: no-repeat;
	background-position: right 0px top;
	margin-top:50px;
	padding: 30px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#222222;
	color:#FFF;
	margin-bottom:30px;

}
	
	#title div{
		left:0;
		right:0;
		margin:auto;
		width:1030px;
	}
		
		#title div h1{
			font-size:36px;
			font-weight:normal;
		}
		
		#title div p{
			font-size:12px;
		}
		
		#title div h1, #title div p{
			margin-bottom:0px;
			
		}

#options{
	position:absolute;
	right:25px !important;
	display: inline;
	width:100px; 
	font-weight: normal;
	color: #777;
	text-align:right;
	right:0;
	margin-top:15px;
	margin-bottom:15px;
	position:absolute !important;
}

.select {
	text-align:center;
	width:990px;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}



#select{
	margin-right:10px;
}
#filter{
	position:relative;
}

#year,#quartile{
	font-size:10px;

}



.icon img{
	margin-left:2px;
	margin-right:2px;
	opacity:0.6;
}
a:hover.icon img{
	opacity:1;
}

#legend{
	position:absolute;
	right:20px;
	padding:5px;
	margin-top:40px;
	background-color:rgba(256,256,256,0.5);
}

path.node{
	fill: lightsteelblue;
	stroke: #555;
	stroke-width: 3px;
}

path.leaf {
	stroke: #fff;
	stroke-width: 1.5px;
}

path.hull{
	fill: lightsteelblue;
	fill-opacity: 0.3;
}

line.link {
	stroke: #333;
	stroke-opacity: 0.5;
	pointer-events: none;
}

#legend_bottom{
	float:right;
}

#size_l{
	display:inline-block;
	border-right:2px solid #999;
	font-weight:bold;
	text-align:left;
	padding-right:20px;
}

#person{
	margin-left:15px;
}

#help{
	display:none;
	position:absolute;
	left:0px;
	background-color:rgba(0,0,0,0.9);
	color:#FFF;
	padding: 0px 5px 0px 5px;
}

	#help div h3{
		text-align:center;
		font-size:15px;
		font-weight:bold;
	}

		#help p{
			padding-right:10px;
			padding-left:10px;
		}
		
#helpicon{
	position:absolute;
	left:0px;
	width:20px;
	height:20px;
	background-color:rgba(0,0,0,0.9);
	background-image:url('icons/help.png');
	background-repeat: no-repeat;
	background-position: 3px 2px; 
	background-size:15px;
	cursor:pointer;
}

#filter{
/*
	background-color: rgba(23, 117, 169, 0.5);
*/
	padding:5px;
	border-bottom:1px solid;
}
	#filter p{
		text-align:center;
		font-weight:bold;
		cursor:pointer;
	}
	
/*
Scroll
*/
.scrollbar
{
	overflow-y: auto;
	overflow-x: hidden;
	max-height:250px;
	margin-right:5px;
	margin-top:10px;
	margin-bottom:10px;
}



#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1775A9;
}

#style-4::-webkit-scrollbar
{
	width: 5px;
	background-color: #AAA;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #1775A9;
}

#logout{
	float:right;
	color:#7F0000;
	font-size:12px;
	margin-top:18px;
}

#logout a{
	color:#000;
}
