body{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.navbar{
	background-color:#FFF;
	height:50px;
	border-bottom:2px solid #222222;
}
	
	.nav.navbar-nav li a{
		color:#1775A9;
		font-weight:bold;
	}
	
	.nav.navbar-nav li a:hover{
		color:#1775A9;
		text-decoration:underline;
	}
	
	
	#img-usm{
		padding-left:40px;
		padding-top:5px;
	}

		.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
			background-color:#222222 !important;
		}
		
#title{
	height:160px;
	margin-top:50px;
	padding: 30px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#222222;
	color:#FFF;
	margin-bottom:30px;

}

.q{
	background-image: url('../img/query.png');
	background-repeat: no-repeat;
	background-position: right 0px top;
}

.f{
	background-image: url('../img/ficha.png');
	background-repeat: no-repeat;
	background-position: right 0px top;
}

	#title div{
		left:0;
		right:0;
		margin:auto;
		width:1030px;
	}
	
		#title div h1, #title div p{
			margin-bottom:0px;
		}

.field{
	left:0;
	right:0;
	margin:auto;
	width:1000px;

}

#exp h2, #exp  h3{
		font-size:24px;
		font-weight:bold;
		color:#777777;
		border-bottom-width: 4px;
		border-bottom-style: solid;
		border-bottom-color: #1775A9;
		
}

#filter h3{
		font-size:16px;
		font-weight:bold;
		color:#777777;
		border-bottom-width: 4px;
		border-bottom-style: solid;
		border-bottom-color: #1775A9;
		
}

.header{
	font-weight:bold;
	width:350px;
}	

tr.par{
	background-color:#FFF;
}	

tr{
	background-color:#BBB;
}	

thead tr{
	background-color:#999;
}	

#generar{
	text-align:right;
}	

table{
	margin-bottom:0;
}

.short{
	width:200px;
}

.short-medium,.form-group.short-medium{
	width:400px;
}

.tiny{
	width:150px;
}

.medium, .form-group.medium{
	width:600px;
}

.long{
	width:800px;
}

.form-group.group{
	display: inline-block;
}

#exportar{
	float:right;
}

#logout{
	float:right;
	color:#7F0000;
	font-size:12px;
	margin-top:18px;
}

#logout a{
	color:#000;
}
