body{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

thead,tbody{
	border:none;
}

	.table>thead>tr>th,.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
		border:none;
	}
	
#sep{
	margin-left:15px;
}	

.radio-inline{
	margin:0 !important;
}

.navbar{
	background-color:#FFF;
	height:50px;
	border-bottom:2px solid #004462;
}
	
	.nav.navbar-nav li a{
		color:#1775A9;
		font-weight:bold;
	}
	
	.nav.navbar-nav li a:hover{
		color:#1775A9;
		text-decoration:underline;
	}
	
	
	#img-usm{
		padding-left:40px;
		padding-top:5px;
	}

	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
		background-color: #004462 !important;
	}

#title{
	height:160px;
	background-repeat: no-repeat;
	background-position: right 0px top;
	margin-top:50px;
	padding: 30px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#004462;
	color:#FFF;
	margin-bottom:30px;

}
	
	#title div{
		left:0;
		right:0;
		margin:auto;
		width:1030px;
	}
	
		#title div h1, #title div p{
			margin-bottom:0px;
		}

.field{
	left:0;
	right:0;
	margin:auto;
	width:1000px;

}

	.field h2, .field h3{
		font-size:24px;
		font-weight:bold;
		color:#777777;
		border-bottom-width: 4px;
		border-bottom-style: solid;
		border-bottom-color: #1775A9;
		
	}

	.row{
		margin-bottom:30px;
	}
		.row div{
			margin-top:10px;
		}
			
			.tokenfield.form-control{
				margin-top:0px;
			}

	.person{
		margin-left:15px;
	}
		
		.person div{
			text-align:left;
			font-size:10px;
		}
			
			.person div font{
				font-size:11px;
			}
	
	.button{
		float:right;
	}

.nontitle{
	font-weight:normal;
}

input.short{
	width:200px;
}

input.short-medium,.form-group.short-medium{
	width:400px;
}

input.tiny{
	width:150px;
}

input.medium, .form-group.medium{
	width:600px;
}

input.long{
	width:800px;
}

.form-group.group{
	display: inline-block;
}

tr.par{
	background-color:#FFF;
}	

tr{
	background-color:#BBB;
}	

thead tr{
	background-color:#999;
	font-weight:bold;
}

.person thead, .person tr{
	background-color:#FFF;
}

#internal{
	margin-left:15px;
}

#logout{
	float:right;
	color:#7F0000;
	font-size:12px;
	margin-top:18px;
	text-decoration:none !important;
	font-weight:normal !important;
}

#logout a,#logout a:active,#logout a:link,#logout a:visited{
	color:#000;
	text-decoration:none !important;
	font-weight:normal !important;
}
