/*
Main
*/

::-webkit-input-placeholder { color:#828282; }
::-moz-placeholder { color:#828282; }
:-ms-input-placeholder { color:#828282; }
input:-moz-placeholder { color:#828282; }

@font-face{
	font-family: "Myriad Pro";
	src: url(http://localhost/upla_alpha/css/MYRIADPRO-COND.OTF) format("truetype");
}

body {
	font-family:Trebuchet MS, sans-serif;
	background-color:black;
	margin:0;
	overflow-y:hidden;
}

ul, li {
    list-style-type: none;
}

.checkbox label{
	color:#FFF;
}

.table{
	display:table;
}

.row{
	display:table-row;
}

.cell{
	display:table-cell;
}

.discovery{
	font-size:20px;
	text-align:center;
}


#help .content img{
	width:12px;
}

#helper img{
	width:20px;
}

#helper{
	padding-left:35px;
	margin:0 !important;
	height:20px;
}

#node_description_img{
	text-align:center;
	width:320px !important;
	margin-top:10px;
	margin-bottom:10px;
}

#network_gen .button{
	width:30px;
	height:26px;
	background:#f65a28 url('http://200.1.17.129/poderopedia_alpha/css/images/search.png') -2px -2px no-repeat;
	border-color:#F65A28;
	cursor:pointer;
}

#network_gen_button{
	cursor:pointer;
}

#network_gen .token-input-list, field .token-input-list{
	text-align:left;
}

.button:focus{
	background-position: 0 20px;
}

.header{
	position:fixed;
/*
	-webkit-box-shadow: 0 2px 10px #666;
	-moz-box-shadow: 0 2px 10px #666;
	box-shadow: 0 2px 10px #666;
*/
	background: #3E3E3E;
/*
	background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#1a1a1b));
	background: -moz-linear-gradient(top, #343434, #1a1a1b);
*/
	top:0;
	height:60px;
	width:100%;
	z-index:9999:
}
#header{
	margin-top:5px;
	z-index:9999;
}
.main{
	left:0;
	right:0;
	margin:auto;
	background-color:#fff;
	position: relative;
}

#logo{
	width: 180px;
	margin-left:25px;
	overflow: hidden;
	text-indent: -9999px;
	background: url('http://200.1.17.129/poderopedia_alpha/css/images/logo-header.png') 0 0 no-repeat;
	height: 46px;
	margin-right: 7px;
	float: left;
}
#logo:hover a {
	color: #fff;
  	background-position: 0 -46px;
}
#logo:hover {
	color: #fff;
}


#network_gen{
	display:inline-block;
	margin-top:12px;
	margin-left:50px;
	text-align:right;
}

#network_gen .button{
	position: absolute;
}

/*
NETWORK
*/

#controls{
	position:absolute;
	top:10px;
	right:450px;
}
#controls a{
	opacity: 0.6;
}

#controls a:hover{
	opacity:1;
}
#network{
	position:relative;
	top:10px;
/*
	z-index:1;
*/
}

#node_search{
	position:absolute;
	top:15px;
	left:15px;
}

#node_search img{
	width:20px;
}

#close{
	position:relative;
	width:28px;
	height:28px;
	
	text-align:center;
	color:#CCCCCC;
	background-color:#5A5A5A;
	z-index:9999;
	float: right;
}

#close img{
	margin-top: 3px;
/*	width:10px;
	padding:8px;*/
}

#close a{
	color:#CCCCCC;
	text-decoration:none;
}

#close a:hover{
	color:#000;
	text-decoration:none;
}

path.node{
	
/*
	stroke: #555;
	stroke-width: 3px;
*/
	fill: lightsteelblue;
}

path.leaf {
/*
	stroke: #fff;
	stroke-width: 1.5px;
*/
}

path.leaf.principal{
	stroke: #fff;
	stroke-width: 1.5px;
}
path.hull{
	fill: lightsteelblue;
	fill-opacity: 0.3;
}

line.link {
	stroke: #333;
	stroke-opacity: 0.5;
	pointer-events: none;
}

path.node.principal{
	fill: red !important;
}



/*
INFO
*/
.options{
	position:absolute;
	text-align:center;
	right:400px;
	margin-top:2px;
	top:50px;
/*
	font-size:10px;
*/
	color:#FFF;
	float: right;
}

.options img{
	text-align:center;
	height:20px;
	padding:5px;
}

.opt_button{
	font-weight:bold;
	height:28px !important;
	background-color:#933617;
	text-align:center;
	margin-bottom:2px;
	cursor:pointer;
/*
	border-radius: 5px 5px 5px 5px;
*/
}

.superior_menu{
	text-align:center;
	margin-top:15px;
	cursor:pointer;	
}

.opt_menu{
	display:inline-block;
	width:80px;
	height:20px;
	font-size:10px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
}

.info{
	background-color:#EB6027;
/*
	border:2px solid #5A5A5A;
*/
	position:absolute;
	width:400px;
	top:10px;
	right:0px;
	z-index:1;
	padding-bottom:50px;
}

/*
BIO
*/

.picture{
	max-width: 140px;
	max-height: 140px;
	min-width: 120px;
	min-height: 120px;
	width:auto;
	height:auto;
/*
	margin-right:10px;
	left:0;
	right:0;
	margin:auto;
*/
	margin-bottom:25px;
	background-image:url(http://www.poderopedia.org/poderopedia/static/tmp/imagen-face.gif);
	background-repeat: no-repeat;
/*
	background-position:center; 
*/
}


.buttons{
/*
	display:table-cell;
*/
	width:320px;
	height:40px;
/*
	left:0;
	right:0;
	margin:auto;	
*/
	background-color:#000;
	text-align:center;
	font-size:16px;
	color:#FFF;
	line-height:40px;
	margin-top:25px !important;
	border-radius: 5px 5px 5px 5px;
}

.buttons a{
	color:#FFF;
	text-decoration:none;
}

.field{
	text-align:center;
	margin-bottom:25px !important;
}

#perfil a{
	color: #FFF;
	text-decoration:none;
}

#perfil a:hover{
	color: #FFF;
}

#description{
	margin-bottom:25px;
}

.title{
/*
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#1a1a1a));
	background: -moz-linear-gradient(top, #333333, #1a1a1a);
*/
	font-family:"Myriad Pro";
	padding-top:15px;
	padding-bottom:15px;
	padding-left:35px;
	padding-right:35px;
	font-size:35px;
	font-weight:100;
	color:#F0F0F0;
	line-height:35px;
/*
	border:2px solid #5A5A5A;
*/
}

.title#name{
	padding-bottom:0 !important;
}
#comu_name{
	padding-top: 0 !important;
	padding-bottom:0 !important;
	font-size:15px !important;
	font-weight:bold;
}

#email{
	padding-top: 0 !important;
	
	font-size:15px !important;
}
#email a{
	color:#7F0000;
}

.info2{
	font-family:"Myriad Pro";
	padding-left:35px;
	padding-right:35px;
	font-size:15px;
	color:#F0F0F0;
	padding-bottom:0;
	padding-top:0;
	line-height:20px;
}

.title2{

	font-family:"Myriad Pro";
	padding-top:15px;
	padding-bottom:15px;
	padding-left:35px;
	padding-right:35px;
	font-size:20px;
	font-weight:100;
	color:#F0F0F0;
	line-height:20px;
/*
	border:2px solid #5A5A5A;
*/
}

.content{
	font-size:14px;
	padding-left:35px;
	padding-right:35px;
	padding-top:5px;
	padding-bottom:5px;
	color:#FFF;
	min-height:70px;
}

#pubs,#rel{
	font-family: "Myriad Pro";
	color:white;
	margin-left:35px;
}

/*
RANK
*/

#ranking .content{
	font-size:15px;
}
#pow_link{
	width:180px;
}

#dots{
	width:10px;
}

#value{
	color: #FFF;
	font-weight:bold;
}

/*
FILTROS
*/
.select{
	font-size:12px;
	padding:10px;
	background-color:#E05A25;
	text-align:center;
	color:#FFF;
	margin-bottom:10px;
}
.select a{
	text-decoration:none;
	font-weight:bold;
/*
	font-weight:bold;
*/
	color:#FFF;
}

/*
LEYENDA
*/


#legend{
	position:fixed;
	background:rgba(256,256,256,0.6);
	display:inline-block;
	bottom:0;
	left:0;
	font-size:13px;
	color:#555;
	padding-left:25px;
	padding-right:25px;
	padding-top:10px;
	padding-bottom:10px;
	color:#666;
}

#legend img{
	height:12px;
}
#legend .size img{
	height:12px;
}

.legend {
	margin-right:5px;
}

#size_l{
	display:inline-block;
	border-right:2px solid #999;
	font-weight:bold;
	text-align:left;
	padding-right:20px;
}

#person{
	padding-left:10px;
}
/*
NETWORKS
*/

#networks{
	position:fixed;
	color:#CCC;
	font-size:12px;
	bottom:15px;
	right:30px;
	z-index:9999;
/*
	background-image: url(http://200.1.17.129/poderopedia_alpha/css/images/networks.png);
	opacity:0.7;
	width:70px;
	height:77px;
*/
}
#networks a{
	color:#AAA;
	text-decoration:none;
}

#networks a:hover{
	color: #CCC;
}
/*
PATH
*/

text{
	font-size:10px;
}

text.principal{
	font-size:12px !important;
	font-weight:bold;
}
.path_result{
	text-align:center;
	padding-bottom:10px;
}

#entity_path{
	font-size:15px;
	color:#FFF;
	padding-left:35px;
	padding-right:35px;
}

#entity_link{
	font-size:12px;
	color:#CCC;
	padding-left:35px;
	padding-right:35px;
}

#separator{
	color:black;
}

/*
SOCIAL
*/

.social{
	position:absolute;
	bottom:0;
	right:0;
	height:100px;
	background-color:#963B1C;
	display:inline-block;
	width:400px;
	text-align:right;
	z-index:999;
}
.social .cell{
	height:100px;
	vertical-align:middle;
}

.social .cell.left{
	color:#FFF;
	text-align:right;
	font-size:20px;
	width:150px;
}

.social .cell.right{
	width:250px;
	text-align:center;
}

#twitter,#facebook{
	display:inline-block;
	vertical-align:middle;
}

#facebook{
	padding-left:20px;
}

#twitter{
	height:20px;
}


/*
SCROLL
*/
.scrollbar
{
	overflow-y: scroll;
	overflow-x: hidden;
	margin-right:5px;
	margin-top:15px;
	margin-bottom:15px;
}

#style-4::-webkit-scrollbar-track
{
/*
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
*/
	background-color: #EB6027;
}

#style-4::-webkit-scrollbar
{
	width: 5px;
	background-color: #EB6027;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #963B1C;
	border: 2px solid #963B1C;
}

/*
TOOLTIP
*/

.tooltip{
	background-color:#963B1C;
	padding: 10px;
}

.tooltip .content{
	min-height:100px;
	text-align:left;
}

.tooltip .buttons{
	width:360px !important;
	margin-bottom:15px;
	margin-top:10px;
	text-align:center;
}
.tooltip #perfil.buttons{
	left:0;
	right:0;
	margin:auto;
	margin-bottom:15px;
}

#image{
	margin-right:10px;
	margin-bottom:4px;
}
