body{
	background-color: #fff;
}

.info{
	background-color: #668EA0;
}

#style-4::-webkit-scrollbar-track
{
	background-color: #DDDDDD;
}
#style-4::-webkit-scrollbar
{
	width: 5px;

	background-color: #818181;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #818181;
	border: 2px solid #818181;
}

.opt_button{
	background-color: #004462;
}

.select{
	background-color: #004462;
}

#barra{
	margin-top: 10px;
}

/*
.main{
	margin-top: 5px;
	position: absolute;
}

.info, #network{
	top:0;
}*/

