.main{
	text-align:center;
}

.img{
	position:relative;
	left:0;
	right:0;
	margin:auto;
	width:1000px;
}

#data{
	position:absolute;
	left:92px;
	top:306px;
	cursor:pointer;
	width:74px;
	height:74px;
}
	#data div{
		padding-top:20px;
	}
	
#data2{
	position:absolute;
	left:175px;
	top:210px;
	width:80px;
	height:80px;
}

	#data2 div{
		padding-top:30px;
	}

#graph{
	position:absolute;
	left:784px;
	top:188px;
	cursor:pointer;
	width:80px;
	height:80px;
}

	#graph div{
		padding-top:30px;
	}

#record{
	position:absolute;
	left:253px;
	top:296px;
	cursor:pointer;
	width:74px;
	height:74px;
}

	#record div{
		padding-top:30px;
	}

#query{
	position:absolute;
	left:168px;
	top:368px;
	cursor:pointer;
	width:74px;
	height:74px;
}

	#query div{
		padding-top:30px;
	}

#usm{
	position:absolute;
	height:120px;
	width:120px;
	left:490px;
	top:130px;
	cursor:pointer;
}

.page-header{
	width:1000px;
	right:0;
	left:0;
	margin:auto;
}

.page-header2{
	width:1000px;
	background-color:#FFF;
	right:0;
	left:0;
	margin:auto;
	margin-top:8px;
}

.login{
	color: #CCC;
/*
	margin-top:30px;
*/
}

#login{
	width:400px;
	height:260px;
	background-color:#002332;
	padding:10px;
	left:0;
	right:0;
	margin:auto;
	border: 2px solid;
    border-radius: 25px;
    font-weight:normal;
}

h3.login{
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

#button{
	float:right;
}

#usermanual{
	float:right;
	font-size:12px;
	margin-top:18px;
	margin-right:20px;
	color:#000;
}

#usermanual a{
	font-weight:bold;
	text-decoration:none;
	color:#BF0020;
	margin-right:20px;
}

#logout{
	float:right;
	color:#7F0000;
	font-size:12px;
	margin-top:18px;
}

#logout a{
	color:#000;
}

#back-button{
	margin-top: 20px;
	text-align: center;
}
