
body {

}
.nv-controlsWrap .nv-legend-text{
	fill:red;
}
text {
  font: 12px sans-serif;
}

#chart1, #chart2 {
  height: 500px;
}

#main{
	width:1000px;
	left:0;
	right:0;
	margin:auto;
}
#main label{
	float:right;
}

#opt{
	font-size:10px;
	float:right;
	margin-bottom:5px;
}

.navbar{
	background-color:#FFF !important;
	height:50px;
	border-bottom:2px solid #222222;
}
	
	.nav.navbar-nav li a{
		color:#1775A9 !important;
		font-weight:bold;
	}
	
	.nav.navbar-nav li a:hover{ 
		color:#1775A9 !important;
		text-decoration:underline !important;
	}
	
	
	#img-usm{
		padding-left:40px;
		padding-top:5px;
	}

		.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
			background-color:#222222 !important;
			color:#FFF !important;
		}

#title{
	height:160px;
	background-image: url('../../img/ficha.png');
	background-repeat: no-repeat;
	background-position: right 0px top;
	margin-top:50px;
	padding: 30px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#222222;
	color:#FFF;
	margin-bottom:30px;

}
	
	#title div{
		left:0;
		right:0;
		margin:auto;
		width:1030px;
	}
		
		#title div p{
			font-size:12px;
		}
		
		
		#title div h1, #title div p{
			margin-bottom:0px;
		}

#network_extra{
	float:right;
}

#logout{
	float:right;
	color:#7F0000;
	font-size:12px;
	margin-top:18px;
}

#logout a{
	color:#000;
}
