/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
	display:inline-block;
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 300px;
/*
    border: 1px solid #999;
*/
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
/*
    background-color: #EDE9E6;
*/
    list-style-type: none;
    clear: left;
}

#network_gen ul.token-input-list,#network_gen input{
	background-color:#3E3E3E;
	color:#828282;
	font-size:16px;
	width:auto;
	min-width:200px !important;
	
}
#network_gen ul.token-input-list{
	min-width:200px !important;
}

#node_search ul.token-input-list,#node_search input{
	background-color:#F1F1F1;
	text-align:left;
	width:auto;
	min-width:200px !important;
}

#path_search ul.token-input-list,#path_search input{
	background-color:#E05A25;
	text-align:left;
	color:#FFF;
	font-size:15px;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 320px;
    padding: 3px 8px;
/*
    background-color: #EDE9E6;
*/
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
/*
    background-color: #E7542A;
*/
    color: #000;
/*
    font-weight: bold;
*/
    cursor: default;
    display: block;
}

#network_gen li.token-input-token{
	color:#828282;
	font-size:16px;
}

#path_search li.token-input-token{
	color:#FFF;
	font-size:15px;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #963B1C;
    color: #fff;
}

#network_gen li.token-input-selected-token {
/*
    background-color: #08844e;
*/
    color: #FFF;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;

    background-color: #FFF;
    overflow: hidden;
    
/*
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
*/
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

.header div.token-input-dropdown{
	background-color: #3E3E3E !important;
}

#path_search div.token-input-dropdown {
	width: 265px !important;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

#network_gen div.token-input-dropdown ul li{
	background-color: #3E3E3E;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #963B1C;
    color:#fff;
}

