@font-face {
    font-family: Conicyt;
    src: url(/graficos/graficos/fonts/font-gobcl_regular-webfont.woff);
}

@font-face {
    font-family: Conicyt;
    src: url(/graficos/graficos/fonts/font-gobcl_bold-webfont.woff);
    font-weight: bold;
}

.ui-dialog .ui-dialog-content {
    border: 0;
    padding: .5em 1em;
    background: #EEE;
    overflow: auto;
}
#graph_info{
	cursor:pointer !important;
}

body{
	font-family: Conicyt;
	font-size:12px !important;
	margin: 0px;
}

a:link{
	color:#DD0000;
	font-weight:bold;
	text-decoration:none;
}

#searchRank{
	text-align:center !important;
}

#searcher{
	text-align:center !important;
	width:820px;
}

#searcher div{
	text-align:left ;
	width:400px;
	margin-left:210px;
}

.selector{
	display:table-row;
}

.selector span{
	display:table-cell;

}

.selector select{
	display:table-cell;
}

.cabecera_if{
	width: 100%;
	height: 60px;
	min-width:1200px;
}
.titulo{
	margin-top:20px;
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	float: left;
	max-width: 300px;
	text-align: center;
	margin-left:50px;
}

.titulo-desc{
    margin-left: 25px;
		margin-right: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    float: left;
    max-width: 250px;
}
.tit-info{
	font-size: 14px;
	font-weight: bold;
	float: left;
	color: #fff;
	clear: both;
	width: 250px;
}

.custom-combobox input{
	padding:2px 5px !important;
	margin-left:10px;
	border-radius: 0;
}

#combobox,#combobox2{
	height:27px;
	width:235px;
	background-color: #fff;
  margin-bottom: 2px;
  margin-left: 10px;
}

#fuente,#csv{
	width:910px;
	margin:auto;
	text-align:right;
	font-size:12px !important;
}


#csv{
	margin-top: 20px;
}
.cell#middle{
	width:10px;
}
.cell#celltitle{
	width:70px;
	color:#fff;
}

#selector{
	font-size: 14px;
	color: #000;
	float:left;

}

img.info{
	margin-left:10px;
}

#container{
	width:820px;
	margin:auto;
	margin-top: 20px;
}
#completa{
	color:red;
	text-decoration:none;
	font-weight:bold;
}

#solo_texto{
	color:grey;
	text-decoration:none;
	font-weight:normal;
}


.note{
	position:absolute;
	margin-left:300px;
	font-size:13px;
	color:#666;
	font-weight:bold;
}


.citas{
	display: inline-block;
	width:230px !important;
	margin-left:35px;
	text-align:center;
}

#citas{
	color:red;
	text-decoration:none;
	font-weight:bold;
	font-size: 12px;
}

#citas2{
	color:red;
	text-decoration:none;
	font-weight:bold;
}

.publicaciones{
	display: inline-block;
	width:220px !important;
	margin-left:405px;
	text-align:center;
}

#publicaciones{
	color:grey;
	text-decoration:none;
	font-size: 12px;
}

#publicaciones2{
	color:grey;
	text-decoration:none;
	font-weight:normal;
}

#legendcont{
	display: inline-block;
	width:900px;
}

#selector{
	left:0;
	right:0;
	margin:auto;
	text-align:left;
}

.selector select {
	font-weight:normal;
}

#visualizacion{
	margin-top:5px;
	margin-bottom:10px;
	text-align:center;
}

#vis{
	padding-left:105px;
}


#ayuda5 .info{
	margin-left:-15px !important;
	z-index:9999999999;
}

#ayuda7{
	margin-left:20px;
}
#ayuda2{
	margin-left:7px;
}
/* graph */
.axis path,.axis line {
	fill: none;
	stroke:#b6b6b6;
	shape-rendering: crispEdges;
}
/*.tick line{fill:none;stroke:none;}*/
.tick text{
	fill:#999;
}
g.journal.active{
	cursor:pointer;
}
text.label{
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}
text.value{
	font-size:12px;
	font-weight:bold;
}

/*ToolTip*/
.info{
    width: 15px;
}
.table{
	display:table;
	float:left;
}

.cell{
	display:table-cell;
}
.row{
	display:table-row;
}
.tooltipInfo {
	display: inline;
	position: relative;
	text-decoration:none; 
}
.tooltipInfo:hover:after {
	content: attr(rel); /* este es el texto que será mostrado */
	white-space:pre-line;
	position: absolute;
	/* el formato gráfico */
	background: #3E3E3E;/*rgba(0,65,121,0.9); el color de fondo */
	border-radius: 5px;
	color: #FFF; /* el color del texto */
	font-size:13px;
	font-weight:normal;
	text-align: justify; 
	padding: 15px 15px;  
	text-shadow: 1px 1px 1px #000;
	min-width: 320px;
	margin-left: -80px;
	border: 1px solid #3E3E3E;
	box-shadow: 4px 4px 5px #999;
	-webkit-box-shadow: 4px 4px 5px #999;
	-moz-box-shadow: 4px 4px 5px #999;
	z-index:99999;
}
.tooltipInfo:hover:before {
	bottom: -10px;
	content: "";
	color:#3E3E3E;
	left: 50%;
	position: absolute;
	/* el triángulo inferior */
	border: solid;
	border-color: #3E3E3E transparent;
	border-width: 0 10px 10px 10px;
	margin-left: -10px;
	clear: both;
}
#ayuda1:hover:after {
	width: 350px;
	bottom: -58px;
	left: -250px;
	z-index: 1000;
	clear: both;
}

#ayuda5:hover:after {
	width: 350px;
	bottom: -74px;
	left: -250px;
	z-index: 1000;
	clear: both;
}
#ayuda3:hover:before{
	border-width: 12px 12px 0 12px;
	bottom: 15px;
}
#ayuda4:hover:before{
	border-width: 12px 12px 0 12px;
	bottom: 15px;
}
#ayuda2:hover:after{
	width: 350px;
	bottom: -105px;
	-moz-bottom: -135px;
	left: -150px;
	z-index: 1000;
	clear: both;
}
#ayuda3:hover:after{
	bottom: 25px;
	left: -95px;
	z-index: 1000;
	clear: both;
	box-shadow: -4px -4px 5px #999;
	-webkit-box-shadow: -4px -4px 5px #999;
	-moz-box-shadow: -4px -4px 5px #999;  
}

#ayuda4:hover:after{
	bottom: 25px;
	left: -200px;
	z-index: 1000;
	clear: both;
	box-shadow: -4px -4px 5px #999;
	-webkit-box-shadow: -4px -4px 5px #999;
	-moz-box-shadow: -4px -4px 5px #999;  
}
#logout{
	position:absolute;
	width:1200px;
	left:0;
	right:0;
	margin:auto;
	padding-top:5px;
	text-align:right;
}
#logout a{
	color:black;
}

.btn-success{
	background-color: #BDBDBD;
	border-color: #BDBDBD;
}


/* tamaño diseño */
.cont-width{
	width: 1200px;
	margin:auto;
	text-align:center;
}


/* Barra navegacion */

.btn-opacity{
	opacity:0.4;
}

.menu-btns{
	margin-top:3px;
}

.btn-li{
   border-bottom: 1px solid #fff;
		width: 196px;

}


.btn-barra{
	border-radius:0;
	color: #fff;
	font-weight: bold;
	width: 196px;
}

.btn:hover, .btn:focus, .btn:visited{
	color: #fff;
	text-decoration: none;
}

.btn>a{
	color: #fff;
	text-decoration:none;
}

.btn-reg{
	background-color:#941e5b;
}

.btn-inst{
	background-color:#2980b9;
}

.btn-inv{
	background-color:#e8641c;
}

.btn-rev{
	background-color:#0ea9bd;
}

.btn-sec{
	background-color:#0f398b;
}

.btn-prog{
	background-color:#64ac46;
}

.menu-reg{
	border-radius:0;
	background-color:#D4A5BD;
	
}

.menu-inst{
	border-radius:0;
	background-color:#A9CCE3;
}

.menu-inv{
	border-radius:0;
	background-color:#F6C1A4;
}

.menu-rev{
	border-radius:0;
	background-color:#9EDCE5;
}

.seccion{
	text-align: left;
	margin-top:3px;
	

	width:100%;
	
	color: #fff;
	font-weight: bold;
	height:130px;
	padding:5px !important;
}

.seccion-text{
	float:left;
/*
	height:126px !important;
*/
	margin-left:10%;
}

.dropdown-menu>li>a {
	color:#fff;
}

.dropdown-menu>li>a:hover{
	background-color: transparent;
	color: #fff;
}
/* Submenu Colaboracion*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}


/* Modals */
#modal-446332 {
	float: right;
}

.glyphicon{
	font-size:25px;
	color:#fff;
}



.dropdown-submenu>a:after{
	border-left-color:#fff;
}

.titulo-conicyt{
		margin-top: 4%;
		margin-left:5px;
}

.modal-body{
font-size: 11px;
}

.footer{
	width:100%;
	z-index:99999;
	padding-top:10px;
	height:140px;
	min-width:1300px;
	background-color:#F5F5F5;
	margin:0 !important;
}
#foot_content{
	position:absolute;
	width:1300px;
	right:0;
	left:0;
	margin:auto;
}

/* barra:hover */
.show-hover:hover > ul.dropdown-menu {
    display: block;    
}

.dropdown-menu{
	margin:0;
	padding:0;
}
.btn-opacity:hover{
	 opacity:1;
}

/* opacidad menus*/

.btn-li-last{
  width: 196px;
}

.menu-reg >.btn-li-last:hover, .menu-reg >.btn-li:hover{
	background-color:#941e5b;	
}

.menu-inst >.btn-li-last:hover, .menu-inst >.btn-li:hover{
	background-color:#2980b9;	
}

.menu-inv >.btn-li-last:hover, .menu-inv >.btn-li:hover{
	background-color:#e8641c;	
}

.menu-rev >.btn-li-last:hover, .menu-rev >.btn-li:hover{
	background-color:#0ea9bd;	
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #fff;
  font-weight: normal;
  color: #555555;
}


#g2-ayuda{
	width: 510px;
	height: 188px;
	background-image: url("../../img/ejemplo_g2.png");
	margin: auto;
}

